body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
    text-align: center;
    margin-top: 50px;
}

.container {
    width: 400px;
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

h1 {
    margin-bottom: 20px;
}

input {
    width: 65%;
    padding: 10px;
}

button {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: gray;
}

li {
    text-align: left;
    margin-top: 10px;
    padding: 10px;
    background-color: lightgray;
}

li button {
    float: right;
    background-color: darkred;
}